export PD_HOME=${PWD}
export MFLOWGEN_PATH=${PD_HOME}/..    # point to the directory containing adk
export LD_LIBRARY_PATH=/cad/mentor/2024.2/Mgc_home/lib:/cad/mentor/2024.2/Mgc_home/shared/lib:$LD_LIBRARY_PATH

module load base
module load genesis2/latest
module load catapult/2024.2
module load vcs/T-2022.06-SP2
module load verdi/T-2022.06-SP2
module load genus/22.13.000
module load innovus/22.13.000
module load calibre/2022.2_15
module load prime/T-2022.03
module load icvalidator/U-2022.12-SP2
module load ssv/21.10.000
module load lc/U-2022.01-SP1
module load quantus/22.10.000
module load dc_shell/S-2021.06-SP5-4
module load icv_workbench/U-2022.12-SP2

# Put this at the back since catapult-generated vcs makefile has to use this version of gcc but doesn't use absolute path
export VG_GNU_PACKAGE=/cad/synopsys/vcs_gnu_package/S-2021.09/gnu_9/linux
source /cad/synopsys/vcs_gnu_package/S-2021.09/gnu_9/linux/source_me.sh

# [ACTION REQUIRED] modify this line to use your python dev environment
. $(conda info --base)/etc/profile.d/conda.sh && conda activate ./accel-src/.conda-env
